/vendor
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/bootstrap/cache/*.php
.env
.env.backup
.env.production
.phpunit.result.cache
.phpunit.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log

/.idea
/.vscode
/.fleet
.DS_Store

/.playwright-mcp
/docs/_local
